include *.rst *.toml LICENSE tox.ini .readthedocs.yml
recursive-include .github *.yml
recursive-include docs *.rst *.py *.txt Makefile make.bat
recursive-include tests *.py
recursive-include example *.py *.md *.txt
include example/data/.gitkeep
prune example/venv
prune docs/build
